@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    background-color: #f55f5f;
    font-family: 'Roboto', sans-serif;
}

#listContainer {
    background-color: white;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

#addTaskBtn {
    position: relative;
    top: 330px;
    margin: 5px;
}

#removeTaskBtn {
    position: relative;
    top: 330px;
    left: 200px;
    margin: 5px;
}